*{
    /*background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: auto;
    */
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*opacity: 0.95;*/  
}

body{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase; /*Transforma texto em caixa alta*/
}

.logo{
    font-size: 1.75rem;
    color: rgb(0, 255, 242);
    transition: 0.5s;
    letter-spacing: 0.5rem;
    
    background-color: transparent;
}
.logo:hover{
    color: rgb(9, 181, 172);
    transition: 0.5s;
    letter-spacing: 0.7rem;
}

.logo-css{
    width: 5vw;         /*Largura de 5 viewwidth. Máx 100vw*/   
    margin: 10px;
}

.logo-html{
    width: 5vw;
    margin: 10px;  
}

.nav-bar{
    background-color: rgb(183, 238, 229);
    padding: 12px;                             /*Tamanho do elemento*/
    color: rgb(89, 82, 217);  
    margin: 0.5rem;                            /*Margem entre elementos*/
    text-decoration: none;                     /*retira efeitos do texto*/
    letter-spacing: 0.2rem;                    /*efeito de espaçamento*/
    transition: 0.5s;                          /* Duração efeito de transição*/
    border-radius: 3%;                         /* Efeito de arrendondamento de bordas*/
    /*clip-path: polygon(89% 0, 100% 50%, 90% 99%, 0% 100%, 8% 51%, 0% 0%);  *//* efeito flecha*/
}

.nav-bar:hover{   /*:hover altera estilo do botão ao passar o curso do mouse em cima do mesmo*/
    color: rgb(242, 242, 246);
    background-color: rgb(62, 84, 81);
    letter-spacing: 0.3rem; 
    /*clip-path: polygon(100% 0%, 89% 51%, 100% 100%, 12% 100%, 0% 50%, 11% 0); *//* efeito flecha*/
}

/*
.botao{
    float: right;
    padding-right: 5rem;
    background-color: aqua;
    font-size: 1.1rem;
    color: white;
    border: transparent;
    margin: 20px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 15px;
    max-width: 50px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
*/

.container{
    display: flex;
    background-color: rgb(132, 0, 255);
    height: 8vw;                        /*Altura do container logo+navbar*/
    
    flex-direction: row;                /*Direção flex em linha*/
    align-items: center;                
    justify-content: space-between;     /*Ajusta items dentro do conteiner*/
    /*border-radius: 2%;*/
    /*background: transparent;*/
}

.container-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    border-radius: 2%;
    /*justify-content: space-around;*/
}

.container-nav{
    display: flex;
    flex-wrap: wrap;                        /*O que não cabe na linha, vai para a linha de baixo*/
    width: auto;  
    padding-right: 2%;
    align-items: flex-end;
}

.h3-main{
    color: rgb(164, 68, 254);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: -5%;
    align-content: space-around;
    width: auto;
    height: auto;
    font-size: 2rem;
}

.container-main{ 
    display: flex;
    /*flex-direction: row;                     /*Direção flex em linha*/
    height: 79vh;
    align-content: space-around;                
    flex-wrap: wrap;
    justify-content: space-around;          /*Ajusta items dentro do conteiner*/
    /*justify-content: space-around;*/
}
   
.projetos-stream{
    display: flex;
    width: auto;   
    height: 40vh;                           /*Altura do container dentro do viewport*/
}
/*Imagem stream*/
.img-stream{
    padding: 1px;
    
} 

.img-commerce{
    padding: 1px;
    transition: 0.5s;
    
    /*letter-spacing: 1rem;*/
}

.projetos-commerce{
    display: flex;
    width: auto;
    height: 40vh;                        /*Altura do container dentro do viewport*/
   
}
/*Imagem e-commerce*/

.title-stream-commerce{
    
    color: rgb(164, 68, 254);
    display: flex;
    flex-wrap: wrap;
    padding-right: 20vw;
    padding-left: 20vw;
    width: 58vw;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

    /*Terceira parte*/
.container-news{
    text-align: center;
    background-color: blueviolet;
    height: 100vh;
}

.container-rodape{
    background-color: rgb(241, 224, 224);
    color: rgb(164, 68, 254);
    display: flex;
    width: auto;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.box-icons{ 
    justify-content: center;

    width: 2.8rem;
}

@media (max-width:1301px){
    article {
        width: 100%;
}
}